<h1 class="text-xs-center"> API Reference Page</h1>
<hr>
<div class="api-preview">
   <p>
      Welcome to the AFE news page and API. This page is aimed at showing the different news that appear 
      in the world. Thus, this platform is focused on serving the different news to beign consumed by your
      journal. 
   </p>
  
  <h2>How to use the API </h2>
  <p>
    In order to consume some information from the API, we need to get a token by <a routerLink="/register"
    routerLinkActive="active">registering</a> in the application. The token enable us to have fully access to 
    the information stored. Indeed, the following table show us the operations and desirable results that our API 
    offers: 
  </p>
  <table class="table table-bordered">
    <thead>
        <tr>
            <th>URL</th>
            <th>Operation</th>
            <th>Acess</th>
            <th>Description</th>
          </tr>
    </thead>
    <tbody>
      <tr>
        <td>/users</td>
        <td>PUT</td>
        <td>Open</td>
        <td>Register a user in the application. As a result, we obtain a user inforamtion including the token </td>
      </tr>
      <tr>
        <td>/users/login</td>
        <td>POST</td>
        <td>Open</td>
        <td>Login a user into the API (check if a user introduce a correct login)</td>
      </tr>
      <tr>
        <td>/user</td>
        <td>GET</td>
        <td>TOKEN Required</td>
        <td>Get the user information defined by the corresponding token.</td>
      </tr>
      <tr>
        <td>/user</td>
        <td>PUT</td>
        <td>TOKEN Required</td>
        <td>Update user profile inforamtion.</td>
      </tr>
      <tr>
        <td>/profile/{{'{'}}uname{{'}'}}</td>
        <td>GET</td>
        <td>TOKEN Optional</td>
        <td>Get the user profile information from the passed user in the url</td>
      </tr>
      <tr>
        <td>/news</td>
        <td>GET</td>
        <td>TOKEN Optional</td>
        <td>Obtain all news from the news stored in the platform.</td>
      </tr>
    </tbody>
  </table>
</div>
<div class="api-preview">
  <h2>Detail API Operations</h2>
  <p>
    This part of the documentation is focused on showing the inputs and outputs of each API operation. 
  </p>
  <h3>Register a User</h3>
  <p>For registering a user, we need to pass for the API a user with the username, email and password:</p> 
  <pre>
      <code class="json">
        "user": {{'{'}}
          "email":"rick@afenews.io", 
          "password":"rick", 
          "username":"rick"
      {{'}'}}
      </code>
  </pre>

  <p>
    As a result, we obtain the complete user informatio including the token for being used in the application: 
  </p>
  <pre>
      <code class="json">
          "user": {{'{'}}
            "username": "rick",
            "email": "rick@afenews.io",
            "token": "SPECIFIC TOKEN HERE"
        {{'}'}}
      </code>
  </pre>
  <h3>Login user</h3>
  <p>
    In order to login a user into the application, we need to pass a user and password: 
  </p>
  <pre>
    <code class="json">
        "user":{{'{'}}
          "email":"rick@afenews.io", 
          "password":"rick"
      {{'}'}}
    </code>
  </pre>
  <p>
    As a response of the call, the application shows the same user information as 
    the register if everithing goes fine
  </p>
  <pre>
      <code class="json">
          "user": {{'{'}}
            "username": "rick",
            "email": "rick@afenews.io",
            "token": "SPECIFIC TOKEN HERE"
        {{'}'}}
      </code>
  </pre>
  <h3>Get Current User</h3>
  <p>
    This resource permit to obtain the user information defined by a corresponding token. This function
    do not have request body. As a response of this function, we obtain the corresponding user information
    associated to the passed token. 
  </p>
  <pre>
      <code class="json">
          "user": {{'{'}}
            "username": "rick",
            "email": "rick@afenews.io",
            "token": "SPECIFIC TOKEN HERE",
            "bio": "",
            "image": ""
        {{'}'}}
      </code>
  </pre>
  <h3>Update User Information</h3>
  <p>
    This function is aimed at updating user profile information such as email, password, image or bio.
    For that, we could pass in the request operation all this parameters. If we omit some of these 
    parameters, it won't be considered for the update. Moreover, the user to being updated will be defined
    thoughout the token passed in the request function.
  </p>
  <pre>
      <code class="json">
          "user": {{'{'}}
            "bio":"My bio 3",
            "email". "rick_new@afe.io"
            "image":"http://rick.io",
            "password": "rick_new"
        {{'}'}}
      </code>
  </pre>
  <h3>Get User Profile</h3>
  <p>
    This functions returns the user information. This function is useful for getting the author for
    an specific new, for example. For this function do not require a body. The user is required as URL
    parameter. 
  </p>
  <p>
    As a result, we obtaint the user profile information as follows: 
  </p>
  <pre>
    <code class="json">
        "profile": {{'{'}}
          "username": "rick",
          "bio": "My bio 4",
          "image": "http://rick.io"
     {{'}'}}
    </code>
  </pre>
  <h3>Obtaining all news</h3>
  <p>
    This function is aimed at retrieving all news stored in the platform. As a result, we obtain a 
    JSON array with the corresponding news. Moreover, the API also returns the news count to facilitate
    pagination. 
  </p>
  <pre>
    <code class="json">
        "articles": [
        {{'{'}}
            "slug": "afghanistan-gets-in-hurt-ywarpv",
            "title": "Afghanistan gets in hurt",
            "description": "war in afganistán",
            "body": "# Afganistan war\nThe afganistán war suffers and gets lots of hurts. ",
            "type": "International",
            "author": {{'{'}}'
                "username": "aolite",
                "bio": "My bio 4",
                "image": "http://aolite.io"
                {{'}'}}'
        {{'}'}}
    ],
    "articlesCount": 1
    </code>
  </pre>

</div>

