<h1 class="text-xs-center"> API Reference Page</h1>
<hr>
<div class="api-preview">
   <p>
      Welcome to the AFE news page and API. This page is aimed at showing the different news that appear 
      in the world. Thus, this platform is focused on serving the different news to beign consumed by your
      journal. 
   </p>
  
  <h2>How to use the API </h2>
  <p>
    In order to consume some information from the API, we need to get a token by <a routerLink="/register"
    routerLinkActive="active">registering</a> in the application. The token enable us to have fully access to 
    the information stored. Indeed, the following table show us the operations and desirable results that our API 
    offers: 
  </p>
  
</div>

